extends ../layouts/mainlayout.pug

block styles
    link(rel="stylesheet", href="/styles/cart.css")

block content
    main
        section.cart
            h2.sectiontitle YOUR CART
            if(cartitems && cartitems.length > 0)
                ul.cartlist
                each item in cartitems
                    li.cartitem
                        figure.cartitem__figure
                            img(src=item.purl, alt="Image Not Found!")
                        .cartitem__info
                            span #{item.pname}
                        .cartitem__qty
                            span X
                            input(type="number", min='0' name="qty", value=(item.qty))
                        .cartitem__price
                            span $ #{item.price} USD  
                .carttotal
                    span Total
                    span $ #{totalamount}
                .cartsubmit
                    a.btn.btn-primary(href="#") PROCEED TO CHECKOUT                
            else
                h3 No Products Found in Cart!
